@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.admin-dashboard .banner {
  width: 100%;
  padding: 15px 20px;
  background: #a45c40;
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.admin-dashboard .home-btn {
  font-size: 18px;
  color: white;
  text-decoration: none;
  background: #8c4a30;
  padding: 8px 15px;
  border-radius: 6px;
  transition: 0.3s ease-in-out;
}
  
.admin-dashboard .home-btn:hover {
  background: #6b3625;
}
  
.admin-dashboard .sidebar {
  margin-top: -15px;
  height: 100vh;
  width: 250px;
  position: fixed;
  background: #d4a373;
  padding-top: 20px;
  text-align: center;
}
  
.admin-dashboard .sidebar-link {
  display: block;
  font-weight: 600;
  font-size: 18px;
  color: white;
  padding: 12px;
  text-decoration: none;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #d4a373;
  border: none;
  cursor: pointer;
  width: 100%;
}
  
.admin-dashboard .sidebar-link:hover {
  background: #6b3625;
}
  
.admin-dashboard .content {
  margin-left: 270px;
  margin-top: 90px;
  padding: 20px;
  width: calc(100% - 270px);
}

.admin-dashboard .btn-warning {
  color: #3D2B1F;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 8px;
  width: auto;
  margin-right: 5px;
}

.admin-dashboard .btn-danger {
  color: white;
  font-size: 16px;
  padding: 10px 16px;
  border-radius: 8px;
  width: auto;
  margin-left: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagenav {
  background-color: transparent;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
  list-style: none;
  padding: 0;
  margin-top: 5px;
}

.page-item {
  margin: 0;
}

.page-link {
  background-color: #33a02d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.page-link:hover {
  background-color: #196e16;
  transform: scale(1.05);
}

.page-item.active .page-link {
  font-weight: 600;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.page-link:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(164, 92, 64, 0.5);
}
.page-link.active {
  background-color: #ada8a8;
  color: black;
}
